[submodule "extern/clap"]
	path = extern/clap
	url = https://github.com/free-audio/clap.git
[submodule "extern/clap-helpers"]
	path = extern/clap-helpers
	url = https://github.com/free-audio/clap-helpers.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
